.table {
  position: absolute;
  width: 300px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: black solid 0.2em;
  border-radius: 1em;
  overflow: hidden;
}

.shuffle {
  position: absolute;
  top: 0;
  right: 0;
}

.deal {
  position: absolute;
  top: 2em;
  right: 0;
}

.playerSeat {
  position: absolute;
  bottom: -80px;
}
